@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  margin: 20px 10px 10px 10px;
  padding: 0;
  border: 0;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

input {
  border-radius: 4px;
  border: 1px solid #bbb;
  outline: none;
}

.columns {
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: #ececec;
  padding: 5px 0 5px 10px;
  margin-top: 10px;
}

.columns .column {
  background: #99eaa4;
  border-radius: 5px;
  margin: 5px 10px 5px 0;
  padding: 0 5px 5px 5px;
  display: flex;
  width: 400px;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.columns .column:nth-child(3n + 2) {
  background: #fba2a2;
}

.columns .column:nth-child(3n + 3) {
  background: #99ead8;
}

.column .text-input {
  width: calc(100% - 3px);
}

.card {
  background-color: #f9f5e4;
  box-sizing: border-box;
  margin: 5px 0 0 0;
  padding: 5px;
  position: relative;
  width: 100%;
}

.card .card-content {
  margin: 15px 0 8px 0;
}

.up-votes {
  color: #ff7e0dde;
  font-weight: bold;
  padding-right: 5px;
}

.comments {
  padding-top: 5px;
}

.comments .text-input {
  margin-bottom: 5px;
}

.comments .comment {
  background-color: #f7e9b7;
  border-top: solid 1px #ead3a3;
  padding: 5px;
  position: relative;
}

.comments .comment .comment-content {
  padding-top: 5px;
}

.action-items {
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 10px;
  background-color: #c0c8d0;
}

.action-items .action-item {
  background-color: #eaeaea;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  position: relative;
}

.action-items .text-input {
  width: calc(100% - 3px);
}

.action-items .action-item span {
  margin: 0 5px 0 5px;
}

.completed-action-item {
  text-decoration: line-through;
}

.add-button {
  margin-left: 3px;
}

.delete-button {
  background-color: transparent;
  border-radius: 15px;
  border: solid 1px #0000001c;
  color: #0000001c;
  position: absolute;
  top: 3px;
  right: 3px;
  font-weight: bold;
  font-size: 1em;
  width: 20px;
  height: 20px;
  padding: 0;
  line-height: 0;
}

.delete-button:hover {
  border: solid 2px #0000003e;
  color: #0000003e;
}

.markdown-output {
  position: absolute;
  left: -900px;
}

.markdown-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: white;
  color: black;
  padding: 5px 10px;
  border-radius: 15px;
  border: solid 2px black;
  font-weight: bold;
}

div.add-column-wrapper {
  width: 100%;
}

